body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #8a39e1;
  background: linear-gradient(94deg, #8a39e1 30%, #b667f1 90%);
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}
.container {
  background-color: whitesmoke;
  width: 600px;
  min-height: 100px;
  height: auto;
  margin: 20px auto;
  /* padding: 0px 10px; */

  border-radius: 5px;
}
.base {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.base h4 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 2px #8574749e;
  color: dodgerblue;
  font-weight: 600;
}
form{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}
.inputValues {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.block {
  width: 130px;
  /* border: 1px solid red; */
}
.title {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #1873d0;
  font-weight: 500;
  letter-spacing: 2px;
}
input[type="text"] {
  width: 100px;
  padding: 12px;
  outline: none;
  border: 2px solid #1873d0;
  border-radius: 4px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
input[type="text"]:focus {
  background-color: #fff;
  border: 2px solid orange;
  text-align: center;

}
input[type="button"] {
  width: 150px;
  padding: 10px;
  background-color: #1873d0;
  outline: none;
  border: none;
  border-radius: 4px;
  margin: 20px 0px 20px 0px;
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
#age
{
    text-align: center;
    font-size: 20px;
    color: #1873d0;
    padding: 20px;
}
